# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# exclude saved workspaces from source control by default
/saved_workspaces/

# exclude arhives
/archive/

# catboost models ignore
/catboost_info/

# tensorboard runs
/runs/

/paper_writing/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
DABN17_Case2_AOB_Travel_file_processing_customer_segmentation.Rmd
Case_2_DABN17 Jan Isak Bakary Sebastian Lennart.Rmd
src/__init__.py
src/data/__init__.py
src/data/make_dataset.py
src/features/__init__.py
src/features/build_features.py
src/models/__init__.py
src/models/predict_model.py
src/models/train_model.py
src/visualization/__init__.py
src/visualization/visualize.py
docs/conf.py
.Rproj.user
CATE.R
.Rhistory
FlightDataThesisProject.Rproj
